 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 * {
     font-family: 'Poppins', sans-serif;
 }

 /* Menu */

 .menu__nav {
     height: 80px;
     background: #1b1b1b;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0px 50px 0px 100px;
 }

 .menu__logo {
     font-size: 33px;
     color: #fff;
     font-weight: 600;
 }

 .menu__list {
     display: flex;
 }

 .menu__list-item {
     margin: 0 5px;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     padding: 8px 10px;
     border-radius: 5px;
     transition: all 0.3s ease;
 }

 .menu__list-item:hover,
 .menu__list-item.active {
     color: #1b1b1b;
     background: #fff;
     cursor: pointer;
 }

 .menu__btn {
     color: #fff;
     font-size: 22px;
     cursor: pointer;
     display: none;
 }

 #click {
     display: none;
 }

 @media (max-width: 940px) {

     /* Menu */

     .menu__btn {
         display: block;
     }

     #click:checked~.menu__btn i::before {
         content: "";
     }

     .menu__list {
         position: fixed;
         top: 80px;
         left: -100%;
         background: #111;
         height: 100vh;
         width: 100%;
         display: block;
         text-align: center;
         transition: all 0.3s ease;
     }

     #click:checked~.menu__list {
         left: 0%;
     }

     .menu__list-item {
         margin: 40px 0;
     }

     .menu__list-item {
         font-size: 20px;
     }

     .menu__list-item:hover,
     .menu__list-item.active {
         color: cyan;
         background: none;
         cursor: pointer;
     }
 }