 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 :root {
     --color-1: #140f07;
     --color-2: #13294f;
     --color-3: #405db4;
     --color-4: #819dfd;
     --color-5: #d7e6f7;
 }

 * {
     font-family: 'Poppins', sans-serif;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }


 /* Menu */

 .menu {
     height: 80px;
     background: var(--color-1);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0px 50px;
 }

 .menu__logo {
     font-size: 33px;
     color: var(--color-5);
     font-weight: 600;
 }

 .menu__list {
     display: flex;
 }

 .menu__list-item {
     margin: 0 5px;
     color: var(--color-5);
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     padding: 8px 10px;
     border-radius: 5px;
     transition: all 0.3s ease;
 }

 .menu__list-item:hover,
 .menu__list-item.active {
     color: var(--color-1);
     background: var(--color-5);
     cursor: pointer;
 }

 .menu__btn {
     color: var(--color-5);
     font-size: 22px;
     cursor: pointer;
     display: none;
 }

 #click {
     display: none;
 }

 /* Header - Footer*/
 .header, .footer {
     background-color: var(--color-1);
     padding: 70px;
 }

 .footer{
    padding: 16px;
 }

 .header__container, .footer__container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 .header__text .footer__text {
     display: flex;
     flex-direction: column;
 }

 .header__title {
     font-size: 35px;
     font-weight: 700;
     text-align: center;
     padding-bottom: 32px;
     color: var(--color-5);
 }

 .header__subtitle, .footer__subtitle {
     font-size: 22px;
     font-weight: 400;
     line-height: 25px;
     text-align: center;
     color: var(--color-5);
 }

 .footer__subtitle {
    font-size: 16px;
 }

 .header__network, .footer__network {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 32px;
     color: var(--color-5);
     font-size: 30px;
 }

 .footer__network {
    font-size: 22px;
 }

 .header__btn {
     display: flex;
     justify-content: center;
 }

 .header__btn-input {
     padding: 15px 25px;
     font-size: 16px;
     font-weight: 700;
     cursor: pointer;
     color: var(--color-5);
     background-color: var(--color-2);
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
 }

 .header__btn-input:hover {
     background-color: var(--color-1);
     box-shadow: 0 5px #666;
     transform: translateY(4px);
 }

 /* All */

 .all {
     background: var(--color-1);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 50px;
 }

 /* Sobre mí */
 .about {
     background: var(--color-5);
     border-radius: 10px;
     padding: 60px;
     margin-bottom: 32px;
 }

 .about__container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     max-width: 1200px;
 }

 .about__img {
     width: 20%;
     border-radius: 50%;
     margin: 16px;
 }

 .about__text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 16px;
 }

 .about__title {
     font-size: 32px;
     font-weight: 600;
     padding-bottom: 16px;
 }

 .about__paragraph {
     font-size: 16px;
     font-weight: 400;
     padding-bottom: 16px;
 }

 /* Skills - Hobbies*/
 .skills,
 .hobbies {
     background: var(--color-5);
     border-radius: 10px;
     padding: 60px;
     margin-bottom: 32px;
 }

 .skills__container,
 .hobbies__container {
     max-width: 1200px;
     margin: auto;
 }

 .skills__title,
 .hobbies__title {
     display: flex;
     justify-content: center;
     font-size: 32px;
     font-weight: 600;
 }

 .skills__card,
 .hobbies__card {
     margin-top: 40px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .skills__box,
 .hobbies__box {
     width: 220px;
     height: 200px;
     background: #fff;
     margin: 10px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     transition: all 300ms ease;
 }

 .skills__box:hover,
 .hobbies__box:hover {
     transform: scale(1.1);
     box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.5);
     background: var(--color-2);
     z-index: 1;
 }

 .skills__box i,
 .hobbies__box i {
     font-size: 60px;
     color: var(--color-2);
 }

 .skills__box:hover i,
 .hobbies__box:hover i {
     color: #fff;
 }

 .skills__box h5,
 .hobbies__box h5 {
     margin-top: 20px;
     font-size: 16px;
     font-weight: 500;
     color: var(--color-1);
 }

 .skills__box:hover h5,
 .hobbies__box:hover h5 {
     color: #fff;
 }


 /* Academic*/
 .academic {
     background: var(--color-5);
     border-radius: 10px;
     padding: 60px;
     margin-bottom: 32px;
 }

 .academic__container {
     max-width: 1200px;
     margin: auto;
 }

 .academic__box {
     margin-top: 40px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .academic__title {
     display: flex;
     justify-content: center;
     font-size: 32px;
     font-weight: 600;
 }

 .academic__card {
     position: relative;
     width: 260px;
     height: 280px;
     margin: 20px;
 }

 .academic__card .academic__face {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     border-radius: 20px;
     overflow: hidden;
     transition: .5s;
 }

 .academic__card .front {
     transform: perspective(600px) rotateY(0deg);
     box-shadow: 0 5px 10px #000;
 }

 .academic__card .front img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .academic__card .front h3 {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 45px;
     line-height: 45px;
     color: #fff;
     background: rgba(0, 0, 0, .4);
     text-align: center;
 }

 .academic__card .back {
     transform: perspective(600px) rotateY(180deg);
     background: rgb(3, 35, 54);
     padding: 15px;
     color: #f3f3f3;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     box-shadow: 0 5px 10px #000;
 }

 .academic__card .back .academic__face-link {
     border-top: solid 1px #f3f3f3;
     height: 50px;
     line-height: 50px;
 }

 .academic__card .back .academic__face-link a {
     color: #f3f3f3;
 }

 .academic__card .back h3 {
     font-size: 20px;
     font-weight: 600;
     margin-top: 20px;
     letter-spacing: 1px;
 }

 .academic__card .back p {
     font-size: 15px;
     font-weight: 400;
 }

 .academic__card:hover .front {
     transform: perspective(600px) rotateY(180deg);
 }

 .academic__card:hover .back {
     transform: perspective(600px) rotateY(360deg);
 }

 /* Projects 

 .projects {
     background: var(--color-5);
     border-radius: 10px;
     padding: 60px;
     margin-bottom: 32px;
 }


 .projects__container {
     max-width: 1200px;
     margin: auto;
 }

 .projects__title {
     display: flex;
     justify-content: center;
     font-size: 32px;
     font-weight: 600;
 } */

 /* Contact */

 .contact {
     background: var(--color-5);
     border-radius: 10px;
     padding: 60px;
     margin-bottom: 10px;
 }

 .contact__container {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     max-width: 1200px;
 }

 .contact__title {
     display: flex;
     justify-content: center;
     font-size: 32px;
     font-weight: 600;
 }

 .contact__text {
     margin-top: 32px;
     line-height: 25px;
 }

 .contact__form {
     margin-top: 32px;
     width: 100%;
 }

 .contact__form .form__box {
     position: relative;
     width: 100%;
     margin-top: 10px;
 }

 .contact__form .form__box input,
 .contact__form .form__box textarea {
     width: 100%;
     padding: 5px 0;
     font-size: 16px;
     margin: 20px 0;
     border: none;
     background: var(--color-5);
     border-bottom: 2px solid var(--color-1);
     outline: none;
     resize: none;
 }

 .contact__form .form__box span {
     position: absolute;
     left: 0;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     pointer-events: none;
     transition: .5s;
     color: #666;
 }

 .contact__form .form__box input:focus~span,
 .contact__form .form__box input:valid~span,
 .contact__form .form__box textarea:focus~span,
 .contact__form .form__box textarea:valid~span {
     color: var(--color-1);
     font-size: 12px;
     transform: translateY(-20px);
 }

 .contact__form .form__box input[type="submit"] {
     padding: 15px 25px;
     font-size: 16px;
     font-weight: 700;
     cursor: pointer;
     color: var(--color-5);
     background-color: var(--color-2);
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
 }

 .contact__form .form__box input[type="submit"]:hover {
     background-color: var(--color-1);
     box-shadow: 0 5px #666;
     transform: translateY(4px);
 }

 @media only screen and (max-width: 1024px) {

     /* About */
     .about__img {
         width: 40%;
     }
 }

 @media only screen and (max-width: 940px) {

     /* Menu */

     .menu__btn {
         display: block;
     }

     #click:checked~.menu__btn i::before {
         content: "";
     }

     .menu__list {
         position: fixed;
         top: 80px;
         left: -100%;
         background: var(--color-1);
         height: 100vh;
         width: 100%;
         display: block;
         text-align: center;
         transition: all 0.3s ease;
     }

     #click:checked~.menu__list {
         left: 0%;
     }

     .menu__list-item {
         margin: 40px 0;
     }

     .menu__list-item {
         font-size: 20px;
     }

     .menu__list-item:hover,
     .menu__list-item.active {
         color: var(--color-4);
         background: none;
         cursor: pointer;
     }

     /* Header */
     .header {
         padding: 50px;
     }

     .header__container {
         flex-direction: column;
         text-align: center;
     }

     /* About */
     .about__container {
         flex-direction: column;
         align-items: center;
     }

     .about__img {
         width: 50%;
     }

     .about__title {
         display: flex;
         justify-content: center;
     }
 }

 @media only screen and (max-width: 425px) {

     .all {
         padding: 25px;
     }

     .about {
         padding: 30px;
     }

     /* About */
     .about__img {
         width: 80%;
     }
 }